.overlay_scroll{
  overflow: auto;
  position:absolute;
}
.editor iframe ::-webkit-scrollbar{
	width:0;
	background;transparent;
}
iframe ::-webkit-scrollbar-thumb{
	width:5px;
	height:5px;
	border-radius:30px!important;
	background:rgba(0,0,0,0.3);
}
.noscroll {
  overflow: hidden;
}
.editor{
  width:100%;
  margin:auto;
  min-height: 500px;
  padding:1.2%;
}
.editor-fs{
  width: 100%;
  min-height:100vh;
  position: fixed;
  top:0;
  left: 0;
  z-index: 999999;
  background: #000;
}
.editor-fs iframe,.editor-fs .wysiwyg-area {
   height: 70vh;        /* Viewport-relative units */
    width: 100vw;
}
.editor-body-wrapper{
  overflow: hidden;
  resize: both;
}
.wysiwyg-area{
   width: 100%;
   min-height:100%;
   background: #fff;
}
.editor-body IMG{

}
.editor-textarea{
   display: none;
   z-index:1;
   background:lightgray;
   color:#00f;
   width: 100%;
   scroll-behavior: auto;
}
.editor-wrapper{
  height: auto;
  width: 100%;
  padding-bottom: 20px;
}
.editor-toolbar{
   width:100%;
   height:content;
   font-size: 14PX;
   font-weight: bolder;
   background: lightgray;
   border-bottom: 2px solid;
}
img{
   margin:5px;
}
.editor-code{
	height: content;
	width:50%;
  display: none;
}
.img-counter{
  position:fixed!important;
  display: none;
  background:#15da33e6;
  padding:20px;
  z-index: 9999;
  width: 100vh!important;
  height: 90vh!important;
  overflow: auto;
  top:20px !important;
}
.img-editor,.images{
  width: inherit;
}
.img-editor{
  display: none;
  background: #fff;
}
.left-image,.right-details{
  width:50%;
  float:left;
  margin:0;
  -webkit-box-sizing:border-box;
  padding:30px;
  background: inherit;
  font-size: 15px;
}
.img-editor .form form{
  width:100%;
}
.img-editor .form form input,.img-editor .form form select{
  width:100%;
}
.img-edit{
  width:200px;
  height:50px;
}

/*   editor ara view --*/
#data-view,#data-value{
  width:100%;
  height: content;
  max-height: 100%;
  overflow:auto;
}
.article-content-area{
  float:left;
  margin-left:50px;
  width:60%;
  padding:1.2%;
  height:auto;
}
.insert-button-area{
  float:right;
  margin-right:50px;
  width:30%;
  padding:1.2%;
  height:auto;
}
/*-----------------------------------*\
     article data view sections
*\---------------------------------*/
#data-view section,.section-none{
  float:left;
  width:100%;
   min-height:50px;
}
.section-left{
  float:left!important;
width:48%!important;
}
.section-right{
  float:right!important;
  width:48%!important;
  height:content;
}
.section-right-note{
  background: lightgray;
}
/*---------------------------\
    editor window
\-----------------------------*/
.dialog{
  height:100%;
  width:100%;
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background: transparent;
}
.editor-body-wrapper iframe{
  background: #fff;
}
.editor-pannel{
  width: 50%;
  height: 400px;
}
.editor .btn{
  background: transparent!important;
  padding: 3px 3px !important;
  border-style: none;
  margin: 3px;
  color:#000;
  border-bottom: 2px solid #fff;
}
.editor .separater{
  width: 3px;
  background: #fff;
  height :20px;
  margin: 0 5px -5px ;
  transform: rotate(10deg);
  display: inline-block;
  box-shadow: inset(0px 2px 3px 0px);
}
.editor .btn i{
  padding: 0px 3px;
}
.editor .btn :hover{
  color : #000!important;
  background: #fff;
}
.editor iframe, .editor .wysiwyg-area {
  border :none;
  box-shadow: 0 0 3px 0;
  width: 100%;
}
.h-btn ,.f-btn, .fs-btn{
  max-width: auto;
  min-width: 30px;
}
@media screen and (max-width:600px){
  .editor-toolbar{
    display: flex;
    overflow-x: auto;
    /* position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999; */
  }
}
.st-dropdown{
	background: transparent;
	color:royalblue;
	height: content;
	width:auto;
	margin: 0;
	position: absolute;
	display: none;
	padding:5px;
	overflow: auto;
	max-height: 500px;
	z-index: 9999;
}
.st-dropdown ul,.st-dropdown form{
	background: lightgray;
	min-width :auto;
	padding: 5px;
	margin:0!important;
}
.st-dropdown ul a{
	font-size: 18px;
	color: inherit;
	padding: inherit;
}
